.App {
  text-align: center;
  background-color: #090909;
  min-height:100vh;
  height:auto;
  padding:1vh
}

.ql-editor{
  background-color: #ffffff;
  color: black;
  min-height:80vh;
}

.App-link {
  color: #61dafb;
}

